.login__action{
  margin: 12px 0 30px!important;
}

.login__action, .login__welcome{
  text-align: center;
}

.login__welcome{
  color: #357EEC!important;
}

.login__action{
  color: #757575!important;
}

.login-form__error{
  color: #f44336!important;
  font-size: 17px!important;
  margin-top: 5px!important;
  text-align: center!important;
}
