.register {
  min-height: 100vh;
  background: linear-gradient(180.1deg, #272727 9.15%, #1A1A1A 67.38%);
}


.register__wrapper{
  min-height: 100vh;
}

.register__title{
  color: #ffffff!important;
  margin: 32px 0 64px!important;
}

.register__item{
  margin-bottom: 35px;
}


@media (max-width: 1199px) {

}
