.register__action{
  margin: 12px 0 30px!important;
}
.register__action, .register__welcome{
  text-align: center;
}
.register__welcome{
  color: #357EEC!important;
}
.register__action{
  color: #757575!important;
}
.register-form__error{
  color: #f44336!important;
  font-size: 17px!important;
  margin-top: 5px!important;
  text-align: center!important;
}
